{% extends 'post/base.html' %}

{% block content %}
<div class="search">
    <label for='search'>Search request</label>
    <input type="text" name="search" value="Search" id="search">
</div>
<div class="posts-container">
<ul class="list-posts">
    {% for p in posts %}
    <li>
        {% if p.images %}
            {% for image in p.images.all%}
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}"><img class="img-article-left"
                                                                                  src="{{image.image.url}}"></a></p>

            {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>

{% endblock %}