html, body{
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.menu-container{
    display: flex;

}

.logo-container{
    margin-left: 25px;
}

.logo-link{
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-text{
    font-size: 36px;
    font-style: italic;

}

.mainmenu{
    display: flex;
    align-items: center;

}

.mainmenu li{
    padding: 0 10px;
    color: black;
    font-size: 24px;
}

.mainmenu-link{
    position: relative;
}


.mainmenu-link::after{
    content: '';
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all .25s ease;
}
.last{
    position: relative;
}

.last::after{
    content: '';
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all .25s ease;
}
.content-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.posts-container{
  height: 100%;
  widht: 80%;
}


.image-container {
  width: 100%; /* Adjust the width as needed */
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  overflow: hidden;
}

.list-posts li img{
  display: block;
  width: 100%;
  height: auto;
}
.tag-link{
    text-transform: lowercase;
    color: blue;
}

